* {
  margin: 0;
  color: white;
}

html {
  background-color: #111;
}

::-webkit-scrollbar {
  width: 4px;
  margin: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #EEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E52121;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D21111;
}